@tagline-color: #609152;

.tagline{
	border-top: 1px solid @tagline-color;
	display: block;
	color: @tagline-color;
}

h1 .tagline{
	font-size: 17px;
	line-height: 20px;
	margin-top: 5px;
	font-weight: normal;
}